/* Common styles for all devices */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    padding-top: 3em;
    background-image: url("https://media.tenor.com/n9lJJHKNWkgAAAAC/motion-illusion.gif");
    backdrop-filter: blur(2px);
}
body::-webkit-scrollbar{
    display: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

main{
    margin-top: 3em;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-family: "Arial Black", sans-serif;
    font-size: 36px;
    line-height: 1.5;
    max-width: 60%;
    margin-right: 40px;
}

.image {
    max-width: 40%;
    border-radius: 50%;
}

.code-editor {
    background-color: #1e1e1e;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2em;
}

button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

p {
    color: white;
    font-family: Consolas;
    text-align: center;
}
#author-result{
    align-self: flex-end;
    color: red;
}

footer {
    background-color: #333333;
    padding: 20px;
    width: 100%;
    margin-top: 5em;
}
footer .container .footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.logo {
    max-width: 100px;
}

.social-media {
    margin-top: 10px;
}

.social-link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Styles for tablets and smaller devices */
    .quote-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .quote {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image {
        max-width: 60%;
    }
}

@media (max-width: 480px) {
    /* Styles for mobile devices */
    .quote {
        font-size: 24px;
    }

    .image {
        max-width: 80%;
    }
}
